.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  margin: 15px 0 15px 0;
}

.pagination {
  margin-bottom: 100px;
  position: relative;
  left: 45%;
  display: flex;
  width: 15em;
  height: 5em;
  border-radius: 3em;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: #b580ff;
}
.pagination button {
  font-size: medium;
  padding: 0;
  font-weight: bold;
  width: 4em;
  height: 4em;
  align-items: center;
  border-radius: 3em;
  border: 1px solid black;
  margin: 0.1em;
  box-sizing: border-box;
}

.pagination div {
  font-size: larger;
  font-weight: bold;
  margin: 0.1em;
}


