.container {
  display: flex;
  justify-content: center;
}

.container img {
  max-width: 300px;
  max-height: 500px;
}

.main {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
}

.info div {
  display: flex;
}

.tags {
  display: inline-block;
  width: 150px;
  height: 30px;
  font-size: large;
  font-weight: bold;
}

.main p {
  font-size: larger;
}

@media (max-width: 768px) {
  .container {
    flex-flow: wrap-reverse ;
  }

  .container img {
    display: inline-block;
    max-width: 250px;
    max-height: 400px;
  }

  .main div {
    display: flex;
    flex-direction: column;
  }

  .main p {
    display: inline-block;
    max-width: 250px;
  }

}
